<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mit6570.lango"
    android:versionCode="1"
    android:versionName="1.0" 
     android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mit6570.lango.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mit6570.lango.ExerciseMenuActivity"
            android:label="@string/sec_Exercises" >
        </activity>
        <activity
            android:name="com.mit6570.lango.FlashcardMenuActivity"
            android:label="@string/sec_Flashcards" >
        </activity>
        <activity
            android:name="com.mit6570.lango.KanjiMenuActivity"
            android:label="@string/sec_Kangji" >
        </activity>
                <activity
            android:name="com.mit6570.lango.KanjiActivity"
            android:label="@string/title_activity_Kanji" >
        </activity>
        <activity
            android:name="com.mit6570.lango.ExerciseActivity"
            android:label="@string/title_activity_exercise" >
        </activity>
    </application>

</manifest>